
.carousel-container{
    padding: 1rem;
    display: flex;
    border-bottom: 1px solid gray;
    .carousel-item1{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 0.3rem;
        
        .carousel-img{
            width: 40%;
           
            img{
                width: 100%;
            }
        }
        .carousel-name{
            font-size: 14px;
        }
    }
}